.main-chat
  .main-chat__group-info
    .group-desc
      .group-desc__group-name
        = @group.name
      .group-desc__user-name
        - @group.users.each do |user|
          = user.name
    .edit
      = link_to "#", class: "edit__btn" do
        Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    = form_with model: [@group, @message],html: {class: "form"}, local: true do |f|
      .form__box
        = f.text_field :content, class: 'form__box--text', placeholder: 'type a message'
        = f.label :image, class: 'form__box--image' do
          = icon('far', 'image')
          = f.file_field :image
      = f.submit 'Send', class: 'form__btn'